@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono');
@import url("https://use.fontawesome.com/releases/v5.5.0/css/all.css");


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #582841;
    background-image: url('../images/pagesBackground.svg');
    background-repeat: no-repeat fixed center center;
    padding-top: 6rem;
}

htm;, body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgba(22,22,22,1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#nav_logo {
    padding-bottom: 0.30em;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1em;
}

.navbar-nav .nav-link {
    color: #F36F38;
}

.navbar-nav .nav-link:hover {
    color: #EF4648 !important;
}

.navbar-nav .nav-link:active {
    color: #EF4648 !important;
}

.dropdown-item {
    color: #F36F38;
    margin-top: 0.33rem;
}

.dropdown-item:active {
    background-color: #F36F38 !important;
    text-decoration: none !important;
    color: #F36F38;
}

.dropdown-item:hover {
    background-color: #F36F38;
    text-decoration: none !important;
    color: #FFF;
}

.dropdown-menu {
    background-color: rgba(25,25,25,0.75);
}

div ul form input {
    font-family: Ubuntu;
    border-radius: 20px;
    border-color: #F36F38;
    width: auto;
    background-color: rgba(0,0,0,0);
    color: #F36F38;
    margin-right: 2rem ;
}

input::placeholder {
    color: #F36F38 !important;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #F36F38;
    height: 1px;
    -webkit-transition-property: right;
    -o-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

/* -- Main Content -- */

.dokuwiki {
    background-color: rgba(0, 0, 0, 0);
    color: #FF3639;
}

#maincontent_bg {
    background-color: rgba(22, 22, 22, 0.85);
    color: #FF3639;
}


.search .edit {
    border-radius: 20px;
    border-color: #F36F38;
    width: auto;
    background-color: rgba(0,0,0,0);
    color: #F36F38;
    padding: 8px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: #F36F38;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #F36F38;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #F36F38;
    outline: 0 none;
}

form input[placeholder] {
    color: #F36F38;
}

a {
    color: #F99E4C;
}

a:hover {
    color: #EF4648;
    text-decoration: none;
}

/* -- Footer -- */

.clearix{
    zoom:1;
}

.clearfix:after, .clearfix:before{
    line-height: 0;
    content: '';
    display: table;
}

.clearfix:after{
    clear:both;
}

footer {
    background-color: rgba(12, 12, 12, 0.85);
    color: #F36F38;
    bottom: 0;
    width: 100%;
}

#footer_tagline {
    padding-top: 0.25rem;
}